@import 'tailwindcss';
@import '@0xsequence/design-system/preset';

@source './index.html', './**/*.{ts,tsx,js,jsx}', '../../components/src/**/*.{ts,tsx,js,jsx}';

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--seq-color-background-primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

[data-radix-popper-content-wrapper] {
  z-index: 1000;
}

.permissions-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-top: 1px solid #444;
  padding-top: 1.25rem;
  margin-top: 0.25rem;
}
.permissions-group label {
  font-size: 0.9em;
  color: #a0a0a0;
  text-align: center;
}
.permissions-group select {
  padding: 0.6em 1em;
  background-color: #242424;
  border: 1px solid #555;
  border-radius: 8px;
  color: white;
}
